# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# VIRTUAL ENV
# =========================
venv/
env/
ENV/

# =========================
# DJANGO
# =========================
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# =========================
# MIGRATIONS (opcional)
# =========================
# Si quieres ignorarlas (NO recomendado en equipos)
# */migrations/*
# !*/migrations/__init__.py

# =========================
# ENV VARIABLES (CRÍTICO)
# =========================
.env

# =========================
# VS CODE / IDE
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.swp
*.swo

# =========================
# TEST / COVERAGE
# =========================
.coverage
htmlcov/

# =========================
# NODE (por si usas React en el mismo repo)
# =========================
node_modules/
dist/
build/